<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

    <!-- WCF service configuration -->

    <system.serviceModel>
        <client>
            <endpoint name="CitiesChainService" address="net.tcp://localhost:40000/CitiesChainLibrary/CitiesChain" binding="netTcpBinding" contract="CitiesChainLibrary.ICitiesChain"/>
        </client>
    </system.serviceModel>
</configuration>